{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quirky Quill</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static '/image/NewOfficialLogo.png' %}"
    />
    <link rel="stylesheet" href="{% static '/css/Style.css' %}" />
  </head>
  <body>
    <nav id="navigation"></nav>
    <!--Navigation Bar-->
    <br />
    <!--Search Bar-->
    <SearchBar>
      <input
        type="text"
        name="Search"
        id="search-bar"
        placeholder="Search Books"
      />
      <button type="submit">Search</button>
    </SearchBar>

    <!-- List to display categories -->
    <ul id="category-list">
      <!-- Categories will be dynamically added here -->
    </ul>

    <script>
      function displayBooks() {
        const books = JSON.parse(localStorage.getItem("books"));
        const categories = books.map((book) => book.category);
        const uniqueCategories = [...new Set(categories)];
        renderCategories(uniqueCategories);
      }

      function renderCategories(categories) {
        const categoryList = document.querySelector("#category-list");
        categoryList.innerHTML = ""; // Clear existing categories
        categories.forEach((category) => {
          const listItem = document.createElement("li");
          const link = document.createElement("a");
          link.href =
            "Template_Category.html?category=" + encodeURIComponent(category);
          link.textContent = category;
          listItem.appendChild(link);
          categoryList.appendChild(listItem);
        });
      }

      document.addEventListener("DOMContentLoaded", () => {
        displayBooks();
        updateNavBar(); // Call updateNavBar from script.js
      });
    </script>
  </body>
</html>
