{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quirky Quill</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static '/image/NewOfficialLogo.png' %}"
    />
    <link rel="stylesheet" href="{% static '/css/Style.css' %}" />
  </head>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav id="navigation"></nav>
    <!-- Navigation Bar -->
    <br />
    <!-- Display Username -->
    <p id="username-text"></p>
    <!-- Confirmation Message -->
    <p>
      We are pleased to inform you that your book borrowing request has been
      successfully processed. Your selected titles have been reserved and are
      now ready for your enjoyment.
    </p>
  </body>
</html>
