{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quirky Quill</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'image/NewOfficialLogo.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/Style.css' %}" />
    <script src="{% static '/js/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <!--Navigation Bar-->
    <nav id="navigation"></nav>
    <!--Navigation Bar-->

    <br />
    <!--Search Bar-->
    <div id="SearchBar">
      <input
        type="text"
        name="Search"
        id="search-bar"
        placeholder="Search Books"
      />
      <button type="button" id="search-btn">Search</button>
    </div>
    <div id="search-results"></div>
    <br />

    <div class="container" id="book-container">
      <!-- Books will be displayed here -->
    </div>

    <script>
      $(document).ready(function () {
        // AJAX request to fetch books
        $.ajax({
          url: "{% url 'index_books' %}",
          type: "GET",
          dataType: "json",
          success: function (data) {
            var books = data.books;
            var container = $("#book-container");
            // Append books to container
            for (var i = 0; i < books.length; i++) {
              var book = books[i];
              var html =
                '<a href="/Template_book/' +
                encodeURIComponent(book.name) +
                '">' +
                '<div class="book">' +
                '<img src="' +
                book.image +
                '" alt="' +
                book.name +
                '" class="image" />' +
                "<h3>" +
                book.name +
                "</h3>" +
                "</div>" +
                "</a>";
              container.append(html);
            }
          },
        });
      });
    </script>
  </body>
</html>
