{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quirky Quill</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static '/image/NewOfficialLogo.png' %}"
    />
    <link rel="stylesheet" href="{% static '/css/Style.css' %}" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav id="navigation"></nav>
    <!-- Navigation Bar -->
    
    <div style="display: flex; flex-wrap: wrap;">
      {% for book in books %}
          <div style="margin: 10px; text-align: center;">
              <a href="{% url 'Template_book' book.name %}">
                  <img src="{{ book.image.url }}" alt="{{ book.name }}" style="width: 150px; height: 200px;">
                  <div>{{ book.name }}</div>
              </a>
          </div>
      {% endfor %}
    </div>
    
  </body>
</html>
