{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quirky Quill</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'image/NewOfficialLogo.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/Style.css' %}" />
  </head>
  <body>
    <!--Navigation Bar-->
    <nav id="navigation"></nav>
    <!--Navigation Bar-->

    <br />
    <div id="book-info">
      <!-- Book information will be displayed here dynamically -->
      <h2>{{ book.name }}</h2>
      <img src="{{ book.image.url }}" alt="{{ book.name }}" class="image" />
      <p><strong>Category:</strong> {{ book.category }}</p>
      <p><strong>Author:</strong> {{ book.author }}</p>
      <p><strong>Description:</strong> {{ book.details }}</p>
    </div>

    <button id="borrow-btn">Borrow this book</button>
  </body>
</html>
