{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quirky Quill - Manage Users</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'image/NewOfficialLogo.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/Style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <style>
      label {
        color: black;
      }
    </style>
  </head>

  <body>
    
    <h3>Users</h3>
    <table>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>password</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.fullname }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{user.password}}</td>
          <td>
            <form
              method="POST"
              action="{% url 'delete_user' user.id %}"
              style="display: inline"
            >
              {% csrf_token %}
              <button type="submit" class="delete-button">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
